git+https://github.com/huggingface/diffusers
taming-transformers
torch
torchvision
requests
accelerate
transformers
datasets
wandb
tensorboard
scikit-image
scikit-learn
xformers
quantimpy
fabric3
requests